name: Automate Scale AWS RDS Instance

on:
  schedule:
    - cron: '55 10 * * 1'  
    - cron: '20 11 * * 1'  

jobs:
  auto_scale_rds:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: AKIASBWVINQQWVCC4WEL
          aws-secret-access-key: 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
          aws-region: us-east-1
      
      - name: Scale down RDS instance
        if: github.event.schedule == '55 10 * * 1'
        run: |
          echo "Scaling RDS instance down to db.t3.micro..."
          aws rds modify-db-instance \
            --db-instance-identifier testdb \
            --db-instance-class db.t3.micro \
            --apply-immediately
          echo "✅ Scale down operation triggered successfully."
  
      - name: Scale up RDS instance
        if: github.event.schedule == '20 11 * * 1'
        run: |
          echo "Scaling RDS instance up to db.t4g.micro..."
          aws rds modify-db-instance \
            --db-instance-identifier testdb \
            --db-instance-class db.t4g.micro \
            --apply-immediately
          echo "✅ Scale up operation triggered successfully."
      