on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to deploy from'
        required: true
        default: 'main'
      environment:
        description: 'Target environment'
        required: true
        default: 'UAT'
        type: choice
        options:
          - uat
          - prod