name: Deploy Laravel App

run-name: Deploy to ${{ github.event.inputs.environment || github.ref_name }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment"
        required: true
        type: choice
        options:
          - uat
          - prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: >
      (
        github.event_name == 'push' &&
        startsWith(github.ref, 'refs/heads/dev')
      ) 
      ||
      (
        github.event_name == 'workflow_dispatch'
      )

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Determine environment
        id: env
        run: |
          if [ "${GITHUB_EVENT_NAME}" = "workflow_dispatch" ]; then
            echo "env=${{ github.event.inputs.environment }}" >> $GITHUB_OUTPUT
          else
            echo "env=dev" >> $GITHUB_OUTPUT
          fi

      - name: Deploy
        run: |
          echo "Deploying from dev brench to environment: ${{ steps.env.outputs.env }}"